<header>
        <nav>
            <div class="nav-wrapper">
            <a href="/all-chatrooms" class="brand-logo"><img src="images/LOGO.png"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/all-chatrooms">All Chatrooms</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/invitations">Invitations</a></li>
                <li><a href="/logout"><%= connect %></a></li>
            </ul>
            </div>
        </nav>
</header>