<header>
        <nav>
            <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="images/LOGO.png"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Invitations</a></li>
                <li><a href="#"><%= connect %></a></li>
            </ul>
            </div>
        </nav>
</header>