<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chatroom</title>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header %>
        </header>
        
        <main>
            <h1>Chatroom Title</h1>
            <section id="zone_chat">

            </section>
            <form action="" method="POST" id="chat_form">
                <div class="row">
                    <div class="col s9">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" id="message" name="message">
                                <label for="message">Your message here</label>
                            </div>
                        </div>
                    </div>
                    <div class="col s3"></div>
                        <button class="btn waves-effect waves-light" type="submit" id="send_message">
                                Send
                        </button>
                    </div>
                </div>
            </form>
        </main>
    
        <footer class="page-footer">
            <% include ../partials/footer %>
        </footer>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            // Connexion à socket.io
            var socket = io();

            socket.on('chat_message', function (data) {
                insereMessage(data.pseudo, data.message)
            });

            // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
            $('#chat_form').submit(function () {
                var message = $('#message').val();
                socket.emit('chat_message', message); // Transmet le message aux autres
                //insereMessage(message); // Affiche le message aussi sur notre page
                $('#message').val('').focus(); // Vide la zone de Chat et remet le focus dessus
                return false; // Permet de bloquer l'envoi "classique" du formulaire
            });
            
            // Ajoute un message dans la page
            function insereMessage(pseudo, message) {
                $('#zone_chat').append('<p><strong> ' + pseudo + ': </strong> ' + message + '</p>');
            }
        </script>
            
    </body>
</html>
