<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chatroom</title>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header %>
        </header>
        
        <main>
            <h1>Chatroom Title</h1>
        </main>
    
        <footer class="page-footer">
            <% include ../partials/footer %>
        </footer>
    
    </bo