<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chatroom</title>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header %>
        </header>
        
        <main>
            <h1>Chatroom Title</h1>
            <div class="Chatrrom">
                <ul id="messages"></ul>
                <form action="" method="GET">
                    <input id="m" type="text" autocomplete="off" />
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Send
                    </button>
                </form>
            </div>
        </main>
    
        <footer class="page-footer">
            <% include ../partials/footer %>
        </footer>
    
    </bo