<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create a chatroom</title>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header %>
        </header>
        
        <main>
            <h1>Create a chatroom</h1>
            <div id="create_chatroom" >
                <form class="col s12" method="POST" id="form_create_chatroom" encType="multipart/form-data">
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" id="chatroom_title" name="chatroom_title">
                                    <label for="chatroom_title">Chatroom Title</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" id="chatroom_description" name="chatroom_description">
                                    <label for="chatroom_description">Chatroom Description</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <input type="file" name="chatroom_picture" />

                    <button class="btn waves-effect waves-light" type="submit" id="send_message">
                            Create chat
                    </button>
                </form>
            </div>
        </main>
    
        <footer class="page-footer">
            <% include ../partials/footer %>
        </footer>
    </body>
</html>