<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Watsup</title>
        <% include ../partials/head %>
    </head>


	<body>
		<header>
			<% include ../partials/header-2 %>
		</header>
		
		<div class="homepage-conteneur"></div>
			<img src="images/home_illo.fr-FR.png" id="img-homepage">
			<div class="homepage">
				<h1>Welcome to Watsup !</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices venenatis justo, id ornare eros volutpat eu. Phasellus dictum
					porttitor eros, quis scelerisque massa condimentum id. Sed maximus sapien ut nibh ornare feugiat. Nunc ut dolor neque. Cras egestas,
						tellus vel dignissim pretium, eros urna aliquam orci, vel efficitur dolor eros eu velit. Pellentesque mattis tellus eget maximus volutpat. Vivamus id quam non magna commodo fermentum. Fusce mattis sapien quis lacus malesuada congue. Integer et lacus gravida, mattis libero sed, euismod mauris.</p>
				<div class="buttons-homepage">
						<a class="waves-effect waves-light btn" href="signup">Sign up</a>
						<a class="waves-effect waves-light btn" href="login">Log in</a>
				</div>
			</div>
		</div>

		<footer class="page-footer">
			<% include ../partials/footer %>
		</footer>
					
	</body>
</html>