<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chatroom - Login</title>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header-2 %>
        </header>
        
        <main class="body-content">

            <h1>Login</h1>

            <div class="form_login row">
                <form class="col s12" method="POST">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="pseudo" name="pseudo" type="text" class="validate">
                            <label for="pseudo">Pseudo</label>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                                <input id="password" name="password" type="password" class="validate">
                                <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="btn_login_signup">
                        <button class="waves-effect waves-light btn">Log In</button>
                    </div>
                </form>
            </div>
            <%= error %>
        </main>
        
        <footer class="page-footer">
            <% include ../partials/footer %>
        </footer>
    
    </body>
</html>
