<% layout('../layout/popup') %>
<% script('/javascripts/app/popup.js') %>

<div class="container">
    <div id="popup" align="center" style="display:none">
        <h1>TEST</h1>
        <img src='http://cfile2.uf.tistory.com/image/2274643F581D701F1BDC61'>
        <input class= 'close-button' type="checkbox" name="close" value="OK"/>하루동안 이 창을 열지 않음
    </div>
</div>