/*GENERAL*/
.body-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav-wrapper, .page-footer, nav{
    background-color: #5F4B8B !important;
}

.btn {
    background-color: #547A7F !important;
}

.card-content a, .card-reveal a, .chip a{
    color: #547A7F !important;
    /*font-weight: bold;*/
    text-decoration: underline !important;
}

 /* label focus color */
 .input-field input:focus + label {
    color: #547A7F !important;
}
/* label underline focus color */
.textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #547A7F !important;
    box-shadow: 0 1px 0 0 #000;
  }

h1{
    font-family: 'Lobster';
}

body{
    background-color: #ffffff;
    margin: 0; 
    padding: 0;
}

#logo img{
    width: 150px;
    position: relative;
    top:12px;
}

.header-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo img{
    width: 150px;
    display: block;
    position: relative;
    top: 12px;
    left: 10px;
}

/* HOMEPAGE */
.homepage-conteneur{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.homepage{
    width: 50%;
    float: right;
    padding-right: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#img-homepage{
    width: 50%;
    padding: 50px;
}

.buttons-homepage{
    margin-top: 50px;
    margin-bottom: 20px;
}

.waves-effect.waves-light.btn{
    margin: 10px;
}

.page-footer{
    height: 60px;
}

@media screen and (max-width: 800px){
    .homepage p, #img-homepage, .page-footer{
        display: none;
    }
    .homepage{
        width: 100%;
        padding: 30px;
    }
    .homepage h1{
        font-size: 24px;
    }
    #logo{
        margin-top: 50px;
    }
}

/* SINGUP */
.form_login{
    width: 30%;
}

.form_signup{
    width: 50%;
}

h1{
    text-align: center;
}

.btn_login_signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 800px){
    .form_login_signup{
        width: 100%;
    }
}

/* CREATE CHATROOM */
#create_chatroom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 50px;
}

#form_create_chatroom{
    text-align: center;
    width: 50%;
}

#form_create_chatroom button{
    margin: 20px;
}

/* ALL CHATROOMS */
.card{
    width: 30%;
}

.all-cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px 0px 50px 0px;
}


/* CHATROOM*/
#chat-content {
    height: 500px;
    width: 50%;
    margin: 20px 0px 80px 0px;
}
.section_chat{
    overflow: scroll;

    height: 350px;
    padding: 20px;
}

.zone_chat{
    flex-direction: column;
    text-align: left;
    border: red 1px solid;
}

.chip{
    width: 130px;
    text-align: center;
}

.chat_pseudo{
    text-align: center;
    border: green 1px solid;
}

.chat_message{
    text-align: left;
    word-wrap: break-word; 
}

.historic{
    border: violet 1px solid;
    flex-direction: column;
}

.messages_historic{
    flex-direction: column;
}
.chat-bottom-part{
    position: relative;
    bottom: 0px;
}

#send_message{
    margin: 20px auto;
}

/* PROFILE */
.img-profile{
    width: 100px;
}

.profile-content{
    width: 50%;
    margin: 50px 0px;
}

.black-text h2{
    font-size: 26px;
}

.row.valign-wrapper.btn-profile{
    margin-bottom: 0px;
    flex-direction: column;
}

/* EDIT PROFILE */
.picture_edit_profile{
    width: 100px;
    margin: 30px;
}